=betweenWidth($min, $max)
  @media (min-width: $min) and (max-width: $max)
    @content

=minWidth($width)
  @media (min-width: $width)
    @content

=maxWidth($width)
  @media (max-width: $width)
    @content

=betweenHeight($min, $max)
  @media (min-height: $min) and (max-height: $max)
    @content

=minHeight($height)
  @media (min-height: $height)
    @content

=maxHeight($height)
  @media (max-height: $height)
    @content

=tablet
  @media (min-width: #{$width-768}) and (max-width: #{$width-1024 - 1px})
    @content

=desktop
  @media (min-width: #{$width-1024})
    @content

=compat($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true)
  @if $webkit   { -webkit-#{$property} : $value; }
  @if $khtml    {  -khtml-#{$property} : $value; }
  @if $moz      {    -moz-#{$property} : $value; }
  @if $ms       {     -ms-#{$property} : $value; }
  @if $o        {      -o-#{$property} : $value; }
  @if $official {         #{$property} : $value; }

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-o-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

=animation($property)
  +compat(animation, $property)

=appearance($property)
  +compat(appearance, $property)

=transition($properties...)
  +compat(transition, $properties)

=transition-duration($duration)
  -webkit-transition-duration: $duration
  transition-duration: $duration

=transition-delay($time)
  -webkit-transition-delay: $time
  transition-delay: $time

=animation-duration($duration)
  -webkit-animation-duration: $duration
  animation-duration: $duration

=animation-delay($delay)
  -webkit-animation-delay: $delay
  animation-delay: $delay

=transform($properties...)
  +compat(transform, $properties)

=transform-origin($properties...)
  +compat(transition-origin, $properties)

=borderRadius($radius)
  +compat(border-radius, $radius)

// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
=filter($filters...)
  +compat(filter, $filters)

=boxShadow($property)
  +compat(box-shadow, $property)


@mixin btn($background-color)
  +appearance(none)
  +transition(all 100ms ease-out)
  @extend .noSelect
  +borderRadius(3px)
  display: -moz-inline-stack
  display: inline-block
  zoom: 1
  -webkit-font-smoothing: antialiased
  -webkit-tap-highlight-color: transparent
  border: 1px solid transparent
  cursor: pointer
  font-weight: 600
  font-size: 16px
  line-height: 40px
  padding: 0 30px
  text-align: center
  text-decoration: none
  vertical-align: middle
  background-color: $background-color
  color: #fff
  position: relative

// Estilos para los inputs de los formularios con todos sus estilos
@mixin inputFade($colorInputLabel, $colorInputLabelFocused, $border, $borderFocused, $borderError, $errorBottom, $errorColor, $paddingSpan)
  input, textarea
    +transition(border 100ms ease-in, color 100ms ease-in)
    background-color: transparent
    border: $border
    width: 100%
    padding: 10px 10px
    outline: none
    position: absolute
    z-index: 10
    left: 0
    top: 0

    &.error
      border: $borderFocused

    &.focused
      border: $borderError

  label.input_label
    padding: 0
    width: 100%
    color: $colorInputLabel
    cursor: text

    span.span_label
      position: relative
      display: block
      padding: $paddingSpan
      width: 100%
      +transition(transform 300ms, color 100ms)
      +transform(translateY(0em))

    &.focused
      span
        +transform(translateY(-2.5em))
        color: $colorInputLabelFocused

  .formError
    position: absolute
    bottom: $errorBottom
    left: 10px
    color: $errorColor
    font-size: 12px
