.noSelect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.v-align
  position: relative
  top: 50%
  +transform(translateY(-50%))

.h-align
  position: relative
  left: 50%
  +transform(translateX(-50%))

.center
  @extend .v-align
  @extend .h-align
  +transform(translate(-50%,-50%))

.noPadding
  padding-left: 0px !important
  padding-right: 0px !important
.noMargin
  margin-left: 0px !important
  margin-right: 0px !important
